@font-face {
  font-family: 'Stalinist One';
  src: local('Stalinist One'), url(./assets/fonts/StalinistOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Hemi Head';
  src: local('Hemi Head'), url(./assets/fonts/hemi-head.ttf) format('truetype');
}

body {
  letter-spacing: 1px;
  background-color: #121212;
  font-size: 15px;
  font-family: 'Hemi Head', cursive;
  color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App-header {
  min-height: 110px;
  height: 15%;
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  justify-content: space-between;
}

.App-content {
  display: flex;
  justify-content: center;
  height: 85%;
}

.App-link {
  color: rgb(93, 193, 238);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  letter-spacing: 1px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 1000px #121212 inset;
  font-family: 'Stalinist One', cursive;
}

input:focus,
select:focus,
textarea:focus,
a:focus,
button:focus {
  outline-width: 0;
}

a:active,
a:visited {
  color: initial;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: 1px;
  font-family: 'Stalinist One', cursive;
}
